html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Droid Arabic Naskh", serif;
  font-size: 100%;
}

html.no-js .noscript {
  display: block;
}

.noscript {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;

  background: #e8e8e8;
}

.noscript > div {
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d9534f;
}

header {
  background-color: #444;
  color: #f6f6f6;
  height: 35px;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

header h1 {
  font-size: 18px;
  font-weight: 600;
  line-height: 35px;
  margin: 0;
  padding: 0 10px;
  font-family: inherit;
}

#links {
  position: absolute;
  top: 8px;
  left: 10px;
}

#result,
#textarea {
  top: 0;
  bottom: 0;
  padding: 45px 10px 10px 10px;
  display: block;
  overflow: auto;
  font-size: 1.2em;
  line-height: 1.7;
  font-weight: 400;
  font-family: inherit;
  position: absolute;
  width: 50%;
  height: 100%;
}

#textarea {
  right: 0;
  border: 0;
  overflow-x: hidden;
  display: table;
}

#result {
  position: absolute;
  left: 0;
  background: #ffffc1;
  border-right: 1px solid #ccc;
}

#links a,
#links button {
  padding: 1px 15px;
  background-color: #555;
  border-radius: 20px;
  margin: 0 5px 0 0;
  color: #f6f6f6;
  border: none;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 400;
}

#links a:hover,
#links button:hover {
  text-decoration: none;
  background-color: #888;
}
