body {
	height: 100%;
	width: 100%;
	margin: 0;
}

header {
	background-color: #444;
	color: #f6f6f6;
	height: 35px;
	width: 100%;
	position: fixed;
	z-index: 1000;
}

header h1 {
	font-size: 18px;
	font-weight: bold;
	line-height: 35px;
	padding:0 10px;
	font-family: inherit;
}

header h1 noscript {
	font-size: .55em;
}

noscript {
	/*color: #a00;*/
	color: red;
}

/*noscript:hover {
	color: red;
}*/

/*#submit {
	position: absolute;
	top:5px;
	left:50%;
	font-family: inherit;
	font-size:0.78em;
}*/

#textarea {
	right:0;
	border:0;
	overflow-x: hidden;
	display: table;
}

#result {
	position: absolute;
	left:0;
	background:#FFFFC1;
	border-right:1px solid #ccc;
}

#result, #textarea {
	top: 0;
	bottom: 0;
	padding: 45px 10px 10px 10px;
	display: block;
	overflow: auto;
	font-size: 1.2em;
	line-height: 1.7em;
	font-weight: normal;
	font-family: inherit;
	position: absolute;
	width: 50%;
	height: 100%;
}

/*#result, #textarea {
	top: 35px;
	bottom: 0;
	padding: 10px;
	display: block;
	overflow: auto;
	font-size: 1.2em;
	line-height: 1.7em;
	font-weight: normal;
	font-family: inherit;

	position: absolute;
	width: 50%;
	height: auto;
}*/

del {
	text-decoration: none;
	background-color: #fcc;
	white-space: pre;
	display: none;
}

del.visible_del {
	display: inline;
	white-space: pre;
}

#plain,#html {}

ins {
	background-color: #77EE76;
}

#options {
	position: absolute;
	top:8px;
	right:50%;
}

#options p {display: inline;}
#options p.hidden {display: none;}
#options p.visible {display: inline !important;}
#links {
	position: absolute;
	top:8px;
	left:10px;
}

#links a,
#links button
 {
	padding:          1px 15px;
	background-color: #555;
	border-radius:    20px;
	margin:           0 5px 0 0;
	color:            #f6f6f6;
	border:           none;
	line-height:      1.1em;
}

#links a:hover,
#links button:hover {
	text-decoration: none;
	background-color: #888;
}

#about, #bug {
	position: absolute;
	top:0; bottom:0;
	left:0;right:0;
	background-color: rgba(0,0,0,0.6);
	overflow: auto;
}

.box {
	width:         580px;
	margin-bottom: 50px;
	border:        5px solid #888;
	border-radius: 10px;
	position:      absolute;
	left:          50%;
	margin-left:   -300px;
	top:           50px;
	box-shadow:    0px 0px 40px rgba(0,0,0,0.4);
}

.box .content {
	background-color: #f6f6f6;
	padding:20px;
	border-radius:         5px;
	position: relative;
}

.box .close {
	position: absolute;
	top:9px;
	left:12px;
	font-size: 24px;
	font-weight: bold;
	color:#888;
}

.box .ltr .close {
	right:12px;
	left:auto;
}

.box .close:hover {
	color:#444;
	text-decoration: none;
}

.entry {
	float: right;
	padding-bottom: 15px;
	margin-left: 50px;
}

.full_entry {padding-bottom: 15px;}
.short {}
.long {width: 540px;}
label.title {margin-left: 5px;}
label.help {color:#888;}

.box h2 {
	margin:-20px -20px 20px;
	border-bottom: 1px solid #aaa;
	padding: 10px;
}
